@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* //Modo oscuro comentado
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
*/

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  /* Safari y Chrome */
  .no-scrollbar::-webkit-scrollbar {
    display: none; 
  }
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE y Edge */
    scrollbar-width: none;  /* Firefox */
  }
}

/* globals.css */
.mobile-shell-wrapper {
  display: flex;
  justify-content: center;
  min-height: 100dvh;
  background: #e5e5e5; /* fondo "fuera" del teléfono, solo se ve en desktop */
}

.mobile-shell {
  width: 100%;
  max-width: 430px;       /* ancho tipo teléfono */
  height: 100dvh;
  display: flex;
  flex-direction: column;     /* fondo real de tu app */
  background: #F7F5FC;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 40px rgba(0,0,0,0.15); /* efecto "frame" en desktop */
}

.edit-banner {
  background-color: #261E4E;
  height: 130px;
  position:relative;
  flex-shrink:0;
}

.mobile-shell .fixed-navbar, 
.mobile-shell navbar,
.mobile-shell [class*="Navbar"] {
  position: absolute !important;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100% !important;
  max-width: 430px !important;
  z-index: 50;
}
